@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

html {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    align-items: center;
}


.wrapper {
    width: 340px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    margin: auto;
}

.main-block {
    width: 287px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-block {
    width: 340px;
    height: 28px;
    background-color: #FFDC40;
    border-radius: 10px 10px 0 0;
}

h1 {
    margin: 16px 0;
}

button {
    margin: 18px 0 18px 0;
    border-radius: 71px;
    border-style: none;
    color: white;
    font-family: Roboto;

}

.grey-up,
.black-up,
.black-down {
    display: none;
}

.sort {
    display: flex;
    width: 300px;
    justify-content: end;
}

.grey-x:hover{
    background: #833AE0;
    border-radius: 100%;
}

.inputs {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin-top: 12px;
    width: 305px;
    min-height: 35px;
    max-height: 175px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.inputs-block {
    width: 286px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

input {
    border-radius: 10px;
    width: 240px;
    height: 30px;
    margin: auto;
    border: none;
}

input:focus{
    outline: none;
}

.button-add {
    width: 150px;
    height: 42px;
    background-color: #833AE0;
}

.button-add p {
    margin: 0 29px 0 50px;
}

.button-plus {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #AA68FE;
}

.foot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}